.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  background: url(../assets/plant-background.jpg);
  background-size: cover;
  width: 965px;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}



