
.container {
  display: flex;
  justify-content: center;
}

.card {
  background: url(../assets/plant-background.jpg);
  background-size: cover;
  width: 965px;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 4px;
  margin: 5% auto;
}



